@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./fonts/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pengyouquan:before {
    content: "\e630";
}

.icon-shouye:before {
    content: "\e62b";
}

.icon-chuangzuo:before {
    content: "\e8ad";
}

.icon-wode:before {
    content: "\e8bb";
}